<section class="cart-show">

<% unless enhanced_cart.empty? then %>
  <%= render 'cart' %>
  <%= render 'payment' %>
<% else %>
  <div class="alert alert-success" role="alert">
  There are no items in your cart! Return to <a href="/" class="alert-link">the main page</a> to see our catalog of items.
</div>  
<% end %>

</section>
